* {
  margin: 0;
  padding: 0px;
  box-sizing: border-box;
  font-family: montserrat; }

body {
  background-color: #433F3D; }

.grid {
  display: grid;
  grid-template-rows: 3.5rem 1fr auto 3.5rem;
  grid-template-areas: "header" "section" "section2" "footer";
  background-color: #433F3D;
  height: 100vh; }

.header {
  grid-area: header;
  background-color: #f5850e;
  width: 100%;
  height: 100%; }
  .header .nav {
    background-color: #f5850e;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100%;
    width: 100%; }
    .header .nav .nav__element {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly; }
      .header .nav .nav__element .nav__element__li {
        list-style: none;
        display: flex; }
        .header .nav .nav__element .nav__element__li:hover {
          background-color: #d77206;
          transition: background-color 0.5; }
        .header .nav .nav__element .nav__element__li:active {
          color: white; }
        .header .nav .nav__element .nav__element__li .nav__element__li__a {
          color: #433F3D;
          padding: 20px;
          display: flex;
          align-items: center;
          text-decoration: none;
          font-weight: 900; }
          .header .nav .nav__element .nav__element__li .nav__element__li__a:hover {
            color: black; }
    .header .nav .icon {
      width: 8%;
      margin: 0.4rem; }

/*home*/
.section {
  grid-area: section;
  background-image: url(../src/home.jpg);
  background-size: cover;
  margin-bottom: 1rem; }
  .section .home {
    display: flex;
    flex-direction: column;
    text-align: right; }
    .section .home .title {
      font-size: 3rem;
      font-weight: 800;
      padding: 10%;
      color: black;
      margin-top: 50px; }

/*texto*/
.section2 {
  grid-area: section2;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 10px;
  font-size: large; }
  .section2 .box .box__text {
    font-weight: 600; }

.footer {
  grid-area: footer;
  background-color: #433F3D; }
  .footer .footer__help {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .footer .footer__help .footer__help .h4 {
      font-weight: 400; }
      .footer .footer__help .footer__help .h4 .footer__help_icon {
        padding: 10px; }

/*MEDIAQUERY DE INDEX*/
@media screen and (max-width: 768px) {
  .header .nav .nav__element {
    width: 88%;
    text-align: center; }
    .header .nav .nav__element .nav__element__li {
      padding: 5px; }
      .header .nav .nav__element .nav__element__li .nav__element__li__a {
        padding: 0%;
        width: 100%;
        text-align: center;
        font-weight: 600;
        font-size: 0.8rem;
        flex-wrap: wrap; }
  .header .nav .icon {
    width: 8%;
    margin: 5px; }
  .section {
    margin-bottom: 5%; }
    .section .home {
      width: 100%; }
      .section .home .title {
        text-align: center;
        margin-top: 300px;
        border: #433F3D;
        font-size: 2.3rem; } }

/*GALERIA*/
.grid__galeria {
  display: grid;
  grid-template-rows: 3.5rem auto 4rem;
  grid-template-areas: "header" "sectionGaleria" "footer";
  background-color: #433F3D;
  height: 100vh; }

/*SECCION GALERIA*/
.sectionGaleria {
  grid-area: sectionGaleria;
  width: 100%;
  height: 80vh; }
  .sectionGaleria .boxG {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    background-color: #433F3D; }
    .sectionGaleria .boxG .box__info__imagen {
      width: 200px;
      height: 200px;
      padding: 5px; }

/*MEDIAQUERYS DE GALERIA*/
@media screen and (max-width: 768px) {
  .sectionGaleria {
    height: 100%; }
    .sectionGaleria .boxG {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100%;
      flex-wrap: nowrap; } }

.grid__obras {
  display: grid;
  grid-template-rows: 3.5rem auto 3.5rem;
  grid-template-areas: "header" "obras" "footer"; }

.section__obras {
  grid-area: obras;
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%; }
  .section__obras .obras {
    padding: 3rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around; }
    .section__obras .obras .obras__caja {
      margin: 1rem; }
      .section__obras .obras .obras__caja .img {
        width: 600px;
        height: 400px; }
